body {
    background: black;
    font-family: "Roboto", sans-serif;
}
*body {
    overflow: hidden;
}
.nav {
    background: #111111;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo {
    color:rgba(230, 83, 60, 1) ;
    font-size: 36px;
    font-style: italic;
    line-height: 43.2px;
    padding: 0 20%;
    font-weight: 800;
}

nav ul {
    float: right;
    margin-right: 20%;
    border: 1px solid white;
    border-radius: 39px;
}

nav ul li {
    display: inline-block;
    line-height: 43.2px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(116, 48, 48);
    font-size: 17px;
}
    
.home {
    border: 1px solid #E6533C;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    background: #E6533C;
}


.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 43.2px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
}

.content-flex span {
    font-family: 'Miama', sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 94px;
}

.content-flex h1 {
    color: white;
    font-size: 76px;
    width: 50%;
    line-height: 1;
}

.content-flex p {
    font-size: 20px;
    color: #ffffff86;
    width: 50%;
}

.content-flex a {
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 23px;
    margin: 10px;
    margin-bottom: 20px;
}

.back-color {
    background: #E6533C;
    border: 1px solid #E6533C;
}

.border {
    border: 1px solid white;
}

.gym-img-h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 600;
}

.h1-p-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 5%;

}

.gym-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18%;
    margin-left: 18%;
}

.gym-img img {
    border-radius: 50%;
}
.images-ex {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
    text-align: center;
    
}

.run {
    margin-left: 15%;
}

.run a {
    border: 1px solid #E6533C;
    font-size: 18px;
    border-radius: 42px;
    padding-top:3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background: #E6533C;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.run-mile img {
    border: 1px solid transparent;
    border-radius: 20%;
    padding-top:3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    object-fit: none;
    object-position: 66% 33%;
}

.run-mile {
    display: flex;
    justify-content:space-between;
    margin: 5% 20%;
    background: #222222;
    color: white;
    border-radius: 40px;
}

.bmi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
}

.bmi-text {
    color: white;
}

.font-size {
    font-size: 48px;
    color: white;
}

.font-size-p {
    font-size:20px ;
    color: rgb(255, 255, 255, 0.5);
}

.bmi-heding {
    color: white;
    font-size: 18px;
}
.bmi-chart {
    width: 50%;
}

.bmi-chart table {
    border-spacing: 0;
    margin-right: 20%;
}

.bmi-chart td {
    border: 1px solid rgb(255, 255, 255, 0.1);
    padding: 20px;
    padding-right: 100px;
}

.bmi-calc {
    display: flex;
    justify-content: center;
    background: rgba(34,34,34,1);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
}

.bmi-el {
    color: rgba(255, 255, 255, 0.5);
}

.input {
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    gap: 10px;
    height: 70%;
    width: 100%;
    font-size: 14px;

}

.five {
    grid-column: span 2;
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
}

.input-border {
    border-radius: 20px;
    padding: 0 5px;
    background:rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
}

.input div {
    margin-top: 10%;
    margin-left: 2%;
    align-items: center;
}

.input a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    border: 1px solid #E6533C;
    font-size: 18px;
    background: #E6533C;
    padding:5% 25%;
    color: white;
    border-radius: 40px;
    height: 70%;
}

.team-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.team-des h1 {
    font-size: 48px;
    color: white;
}

.team-des p {
    width: 670px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.team-img {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 3% 20%;
    border-radius: 18px;
    background: #222222;
}

.jerome {
    padding-left: 5%;
    padding-top: 50%;
    background: url('../images/trainer1.png');
    background-size: cover;
    align-items: end;
    border-radius: 16px;
    margin-left: 3%;
    margin-top: 3%;
}

.gerome {
    padding-left: 5%;
    padding-top: 50%;
    background: url('../images/trainer2.png');
    background-size: cover;
    align-items: end;
    border-radius: 16px;
    margin-top: 3%;
}

.darrell{
    padding-left: 5%;
    padding-top: 50%;
    background: url('../images/trainer3.png');
    background-size: cover;
    align-items: end;
    border-radius: 16px;
    margin-top: 3%;
    margin-right: 3%;
}

.russell {
    padding-left: 5%;
    padding-top: 50%;
    background: url('../images/trainer4.png');
    background-size: cover;
    align-items: end;
    border-radius: 16px;
    margin-bottom: 3%;
    margin-left: 3%;
}

.cody {
    padding-left: 5%;
    padding-top: 50%;
    background: url('../images/trainer5.png');
    background-size: cover;
    align-items: end;
    border-radius: 16px;
    margin-bottom: 3%;
}

.webb {
    padding-left: 5%;
    padding-top: 50%;
    background: url('../images/trainer6.png');
    background-size: cover;
    align-items: end;
    border-radius: 16px;
    margin-right: 3%;
    margin-bottom: 3%;
}

.team-img h1 {
    color: 
    rgba(255, 255, 255, 1);
    font-size: 20px;
}

.team-img p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}

.special {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.special-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 10px;
}

.special-sec img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}

.special-sec img:hover {
    width: 50%;
}

.special-text {
    margin: 10% 0 ;
    margin-left: 20%;
    width: 30%;
}

.special-btn {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
}

.special-btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.special-btn:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2%);
    transition: 0.5s;
}

.footer {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 5%;
}

.footer-eliment {
    display: flex;
    align-items: center;
    margin: 2% 20%;
    margin-bottom: 4%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1) ;
    gap: 25%;
}

.footer-div1 p {
    width: 80% ;
}

.footer-div1 h1 {
    font-size: 70px;
    font-style: italic;
    color: #E6533C;
    font-weight: 800;
}

.footer-div1 p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.footer-div2 {
    display: flex;
    flex-direction: column;
}

.footer-div3 {
    display: flex;
    flex-direction: column;
}

.footer-eliment a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
    font-size: 20px;
}

.reserve {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.footer-reserve {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-font {
    font-size:32px ;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255,1);
}

.common-h1 {
    font-size: 48px;
    color: white;
    font-weight: 900;
}

.common-p {
    font-size:16px ;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5) ;
}

@media screen and (min-width:425px) and ( max-width:1440px) {
    .run-mile {
        margin-left: 17%;
    }
    .run {
        margin-left: 5%;
    }

    .run p {
        width: 300px;
    }
}

@media screen and (max-width:425px) {
    *body {
        overflow: hidden;
    }
    .content-flex , .gym-img , .run-mile, .bmi-calc , .special, .footer-eliment{
        flex-direction: column;
        width: 100%;
    }

.navbar ul {
    display: none;
}

    .checkbtn {
        font-size: 30px;
        float: right;
        line-height: 43.2px;
        margin-right: 40px;
        display: block;
    }

    .content-flex a {
    display: flex;
    width: 40%;
    }


    .run-mile {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }

    .team-img {
        grid-template-columns: repeat( 1,1fr);
        gap: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .calculat-bmi {
        width: 50%;
    }

    .input {
        width: 50%;
    }

    .bmi-chart {
        width: 380px;
    }

    .special-sec {
        width: 400px;
    }

    .special-text {
        width: 320px;
    }
    .team-des p {
        width: 400px;
    }

    .nav {
        margin-right: 0;
    }

    .gym-img {
        margin: 5%,0;
    }

    .h1-p-center {
        width: 80%;
    }
}